.navigation {
    height: 100%;
    margin: 0;
    height: 100vh; 
}

.navigation .logo-to-home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navigation .toggle-menu {
    height: 30px;
    width: 30px;
    right: 10px;
    top: 10px;
}

.bar-group {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar-group .bar {
    height: 4px;
    background-color: #c0c0c0;
    margin-top: 5px;
    transform: rotate(145deg);
    border-radius: 5px;
    width: 20px;
}

.bar:hover {
    background-color: #b5bffc;
    animation: all 0.8s ease-in;
}

.bar-group .bar.bar-2 {
    width: 30px;
}

.bar-group .bar.bar-3 {
    margin-left: 10px;
}
