body {
    margin: 0;
}

span {
    font-size: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.lighten-dark-grey {
    background-color: #222222;
    filter: brightness(75%);
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
    flex-wrap: wrap
}

.d-column {
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.right-1 {
    right: 10px;
}

.top-1 {
    top: 10px;
}

.p-5 {
    padding: 30px;
}
.m-1 {
    margin: 10px;
}

.ml-1 {
    margin-left: 10px;
}

.m-auto {
 margin: 0 auto;
}

.text-center {
    text-align: center;
}
